@page
@model MPW.Pages.Mentor.Pairing.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Pair Listings</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>

<!--
   <table class="table">
    <thead>
        <tr>
            <th>
                Open Courses
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Display[0].DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Display[0].JoinCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Display[0].ProtegeUserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Display[0].ClientUserName)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Display)
        {
            <tr>
                <td>
                    <a asp-page="../Course/List" asp-route-id="@item.PairID">Open</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JoinCode)
                </td>
                <td>
                    <a asp-page="/PublicProfiles/ProtegePublicProfile" asp-route-protegeUsername="@item.ProtegeUserName">@item.ProtegeUserName</a>
                </td>
                <td>
                    <a asp-page="/PublicProfiles/ClientPublicProfile" asp-route-clientUsername="@item.ClientUserName">@item.ClientUserName</a>
                </td>
            </tr>
        }
    </tbody>
</table>
-->

<div class="card-deck">
    @foreach (var item in Model.Display)
    {
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><a asp-page="../Course/List" asp-route-id="@item.PairID">@Html.DisplayFor(modelItem => item.JoinCode)</a></h5>
                <p class="card-text">Date Created: @Html.DisplayFor(modelItem => item.DateCreated)</p>
                @if (item.ProtegeUserName != null)
                {
                    <p class="card-text">Protege: <a asp-page="/PublicProfiles/ProtegePublicProfile" asp-route-protegeUsername="@item.ProtegeUserName">@item.ProtegeUserName</a></p>
                }
                @if (item.ClientUserName != null)
                {
                    <p class="card-text">Client: <a asp-page="/PublicProfiles/ClientPublicProfile" asp-route-clientUsername="@item.ClientUserName">@item.ClientUserName</a></p>
                }
            </div>
        </div>
    }
</div>
